.text-container{
    width: 70%;
    margin: auto;
    padding: 40px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    background-color: #fffbf0;
    opacity: 0.9;
    color: #282612

}