.navigation-container{
    display: flex;
    justify-content: space-between;
    background-color: white;

    h3{
        font-family: 'Libre Bodoni', serif;
        margin-left: 20px;
        font-size: 22px;
    }
}


 
.nav-links-container{
display: inline-block;
width: 70%;
height: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
margin-right: 10px;
margin-top: 15px;


.nav-link{
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Libre Bodoni', serif;
    font-weight: 800;
    font-size: 15px;
    text-decoration: none;
    color: #2d2d2d;
    &:hover{
   color: #746c61;
    }
   }

}

 @media (max-width: 696px){

    .logo-container{
        height: 100%;
         width: 120px;
         margin-left: 5px;
      
     }
    .nav-links-container{

margin-left: 5px;

        .nav-link{

            font-size: 10px;
        }

    }
     

}


@media(max-width: 393px){

    .navigation-container{

        display: flex;
        justify-content: space-between;
        background-color: white;
        .nav-link{
            padding: 1px 13px;
            cursor: pointer;
            font-family: 'Libre Bodoni', serif;
            font-weight: 800;
            font-size: 10px;
            text-decoration: none;
            color: #2d2d2d;
            &:hover{
           color: #746c61;
            }
           }
    
        h3{
            font-family: 'Libre Bodoni', serif;
            font-size: 10px;
            visibility: hidden;
        }
    }

}