.footer-container{

    img{
        margin-top: 20px;
        margin-left: 20px;
        height: 100px;
    }

    h4{
        opacity: 0.7;
        font-family: 'Playfair Display', serif;
    }

display: grid;
grid-template-columns: 30% 40% 30% ;
grid-template-rows: 100px 100px;
background-color: #e4ddf4;
margin-top: 200px;


.button{
grid-row-start: 2;
grid-column-start: 1;
background-color:  #837e8f;
width: 200px;
height: 40px;
margin-top: 50px;
margin-left: 10px;
border-radius: 7px 7px 7px 7px;
color: #e4ddf4;

.link{
    text-decoration: none;
    color: #e4ddf4;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}



}

.phone-container{
grid-column-start: 2;
grid-row-start: 1;
grid-row-end: 3;
border-left: solid 2px ;
padding-left: 20px;
height: 150px;
margin: 30px;


    }

    .social-media-container{
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-left: solid 2px;
        margin: 30px;
        padding-left: 20px;
        height: 130px;
        display: grid;
        padding-top:20px ;
        opacity: 0.8;
    }

}

@media (max-width: 696px){

    h4{
font-size: 13px;

    }

    .footer-container{
        margin-top: 480px;
    }

}


